body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.highlight{
  border-color: #000000;
  box-shadow: 0 0 10px #000000;
}
#text-box{
  height: 80px;
  width:100%;
  font-size:2em;
}
